.container
  .row
    .col-sm-6
      %h2 Vehicles
    .col-sm-6
      = form_tag('', method: 'get', class: 'form-inline my-2 pull-right width-100p') do
        = text_field_tag :search, params[:search], placeholder: 'Search with registration number and vehile type', class: 'form-control width-85p'
        = submit_tag 'Search', :class => 'btn btn-outline-success my-2 my-sm-0 width-15p'

  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Vehicle Type
        %th Registration Number
        %th Is Parked
        %th Action
    %tbody
      - if @vehicles.present?
        - @vehicles.each do |vehicle|
          %tr
            %td= vehicle.type
            %td= vehicle.registration_number
            %td= vehicle.parked ? 'Yes' : 'No'
            %td= link_to (vehicle.parked? ? 'Unpark' : 'Park'), vehicle_toggle_parking_path(vehicle), method: :put
  - if @vehicles.present?
    .col-sm-12.reports-Header
      #discount-definition-paginator.mb-0
        = will_paginate @vehicles
  - else
    No records found
