!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => page_keywords, :name => "keywords"}
    %meta{:content => page_description, :name => "description"}
    %meta{:charset => "UTF-8"}
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    = stylesheet_pack_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'landing', 'data-turbolinks-track': 'reload'
    = render 'shared/gtag'
  %body
    .d-flex
      = render 'home/sidebar'
      = yield
